<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tucaocun.dao.VotePeriodsMapper" >
  <resultMap id="BaseResultMap" type="com.tucaocun.entity.VotePeriods" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="vote_no" property="voteNo" jdbcType="INTEGER" />
    <result column="hava_vote" property="havaVote" jdbcType="INTEGER" />
    <result column="opposition_vote" property="oppositionVote" jdbcType="INTEGER" />
    <result column="vote_position" property="votePosition" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="change_time" property="changeTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.tucaocun.entity.VotePeriods" extends="BaseResultMap" >
    <result column="vote_txt" property="voteTxt" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, vote_no, hava_vote, opposition_vote, vote_position, create_time, change_time
  </sql>
  <sql id="Blob_Column_List" >
    vote_txt
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from a_vote_periods
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from a_vote_periods
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tucaocun.entity.VotePeriods" >
    insert into a_vote_periods (id, user_id, vote_no, 
      hava_vote, opposition_vote, vote_position, 
      create_time, change_time, vote_txt
      )
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{voteNo,jdbcType=INTEGER}, 
      #{havaVote,jdbcType=INTEGER}, #{oppositionVote,jdbcType=INTEGER}, #{votePosition,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{changeTime,jdbcType=TIMESTAMP}, #{voteTxt,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tucaocun.entity.VotePeriods" >
    insert into a_vote_periods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="voteNo != null" >
        vote_no,
      </if>
      <if test="havaVote != null" >
        hava_vote,
      </if>
      <if test="oppositionVote != null" >
        opposition_vote,
      </if>
      <if test="votePosition != null" >
        vote_position,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="changeTime != null" >
        change_time,
      </if>
      <if test="voteTxt != null" >
        vote_txt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="voteNo != null" >
        #{voteNo,jdbcType=INTEGER},
      </if>
      <if test="havaVote != null" >
        #{havaVote,jdbcType=INTEGER},
      </if>
      <if test="oppositionVote != null" >
        #{oppositionVote,jdbcType=INTEGER},
      </if>
      <if test="votePosition != null" >
        #{votePosition,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="changeTime != null" >
        #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="voteTxt != null" >
        #{voteTxt,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tucaocun.entity.VotePeriods" >
    update a_vote_periods
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="voteNo != null" >
        vote_no = #{voteNo,jdbcType=INTEGER},
      </if>
      <if test="havaVote != null" >
        hava_vote = #{havaVote,jdbcType=INTEGER},
      </if>
      <if test="oppositionVote != null" >
        opposition_vote = #{oppositionVote,jdbcType=INTEGER},
      </if>
      <if test="votePosition != null" >
        vote_position = #{votePosition,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="changeTime != null" >
        change_time = #{changeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="voteTxt != null" >
        vote_txt = #{voteTxt,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tucaocun.entity.VotePeriods" >
    update a_vote_periods
    set user_id = #{userId,jdbcType=VARCHAR},
      vote_no = #{voteNo,jdbcType=INTEGER},
      hava_vote = #{havaVote,jdbcType=INTEGER},
      opposition_vote = #{oppositionVote,jdbcType=INTEGER},
      vote_position = #{votePosition,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      change_time = #{changeTime,jdbcType=TIMESTAMP},
      vote_txt = #{voteTxt,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tucaocun.entity.VotePeriods" >
    update a_vote_periods
    set user_id = #{userId,jdbcType=VARCHAR},
      vote_no = #{voteNo,jdbcType=INTEGER},
      hava_vote = #{havaVote,jdbcType=INTEGER},
      opposition_vote = #{oppositionVote,jdbcType=INTEGER},
      vote_position = #{votePosition,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      change_time = #{changeTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>